/**** Dashboard Elements ****/
.dashboard, .navigation {
    width: 200px;
    user-select: none;
}
.dashboard {
    height: 100vh;
    background-color: #212121;
    color: lightgray;
    font-size: 16pt;
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
}
.dashboard_wrap {
    position: fixed;
}
.nav_element, .logout {
    cursor: pointer;
    padding: 14px;
    line-height: 35px;
}
.nav_element p {
    margin: 0 !important;
    display: inline-block;
}
.logout {
    margin-top: 20px;
    margin-left: 35px;
    width: 100px;
    color: white;
    background-color: #FF8F00;
}
.logout:hover {
    background-color: #FF9800;
}
.nav_element:hover {
    color: white;
    background-color: gray;
}
.logo {
    width: 100px;
    margin-left: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.controls {
    font-size: 40pt;
    margin-top: 100px;
    cursor: pointer;
    text-align: center;
}
.controls:hover {
    color: white;
    background-color: #616161;
}
.icon_images {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
}

/**** Letting users know which tab they are on ****/
.selected {
    color: white;
    background-color: #616161;
}