/**** Pseudo selector for fonts ****/
* {
    font-family: 'Open Sans', sans-serif;
}

/**** body content margin 0 ****/
body {
    margin: 0 auto;
    background-color: #F5F5F5
}

.container {
    width: 100vw;
    height: 100vh;
}

/**** Display Elements ****/
.display {
    margin-left: 200px;
    padding-left: 40px;
}