h1#greeting {
    margin: 0 auto;
    margin-top: 60px; 
    font-weight: 1000;
}
h1#greeting, h3#currPortfolio {
    text-align: center;
}
h3#currPortfolio {
    color: #FF8F00;
}
#overview_trend {
    margin: 0 auto;
    margin-top: 5%;
    width: 700px;
    height: 400px;
    text-align: center;
    border: solid 1px gray;
}
.Tgraphs {
    margin-top: 5%;
    width: 300px;
    height: 340px;
    border: solid 1px gray;
}
.holder {
    text-align: center;
    margin-top: 5%;
    width: 80vw;
}
.DayInfo {
    margin-top: 20px;
}
.gainer, .loser {
    display: inline-block;
}
.loser {
    margin-left: 70px;
}
#todayNews {
    margin: 0 auto;
    margin-top: 5%;
    width: 680px;
    height: 400px;
    padding-left: 20px;
    border: solid 1px gray;
}