h1#portfolioHeading {
    margin-top: 60px;
    text-align: center;
    color: #FF8F00;
}
.portOverview {
    margin-top: 5%;
    border: solid 1px gray;
    width: 70vw;
    padding: 20px;
}
#timeline {
    width: 100%;
}
.dates {
    margin-left: 10%;
}
.current {
    color: #FF8F00;
}
#ExchangeCoin {
    margin-top: 5%;
}
button {
    cursor: pointer;
}
.ExandCoinToggle {
    margin-left: 40px;
    width: 720px;
}
.ExToggle{
    display: inline-block;
    padding: 5px;
    width: 140px;
    text-align: center;
    border: solid 1px gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(215, 215, 215);
    color: rgb(70, 70, 70);
    cursor: pointer;
}
.currExch{
    background-color: white;
}
#ExCoinDisplay{
    width: 700px;
    height: 400px;
    border: solid 1px gray;
    padding-left: 20px;
}