.heading-holder {
    padding-left: 40px;
}
a {
    text-decoration: none;
    color: black;
}
/* Head Tabs */
.tabNav {
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;    
    font-size: 1.2em;
}
.tabs {
    text-align: center;
    width: 20%;
    cursor: pointer;
    padding: 15px;
    display: inline-block;
}
.headingBig {
    background-image: url("../imgs/unsplash_stocks.jpg");
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 1em 0 1em 1.4em;
    color: white;
    font-size: 3em;
    font-weight: 500;
}
.tabs:hover {
    border-bottom: solid 1px #FF8F00;
}
.addTab {
    width: 5%;
}
.currTab {
    color: #FF8F00;
    border-bottom: solid 1px #FF8F00;
}
.but {
    display: inline-block;
    font-size: 12pt;
    color: white;
    background-color: #FF8F00; 
    padding: 2px 10px 2px 10px;
    cursor: pointer;
    border: none;
    margin-bottom: 1em;
}
.bookImg {
    position: absolute;
    width: 46px;
    z-index: 100;
    left: 70%;
    cursor: pointer;
}
.viewInfo {
    display: flex;
}
.tradeContainer {
    width: 100%;
}
.orderBook {
    width: 40%;
    height: 880px;
    background-color: white;
}
.orderHoldingConts {
    display: flex;
}
.HContsItem {
    text-align: center;
    width: 140px;
    padding: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.pricetable {
    height: 300px;
    overflow-y: scroll
}
td, th {
    width: 150px;
}
.listOrder {
    border-collapse: collapse;
    font-size: 12pt;
    text-align: center;
}
.listOrder > thead {
    color: white;
    background-color: #FF8F00;
}
.listOrder > tbody > tr:hover {background-color: #ddd;}
#selltable {
    color: red;
}
#buytable {
    color: green;
}
.orderHoldingsCont {
    position: relative;
    background-color: rgb(240, 240, 240);
    height: 280px;
}
.orderHoldingControl {
    display: flex;
}
.item1 {
    width: 100%;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}
#buyselltable {
    padding: 25px;
    width: 100%;
}
input {
    width: 220px;
}
.execute {
    width: 100%;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    font-size: 14pt;
    color: white;
    background-color: #FF8F00;
}