.section {
    width: 75vw;
    background-color: white;
    padding: 10px 10px 10px 10px;
}
.tabs {
    margin-top: 60px;
}
.tabSec:hover {
    background-color: gray;
    color: white;
}
.tabSec {
    display: inline;
    padding: 10px 50px 10px 50px;
    background-color: white;
    cursor: pointer;
}
.tabselected {
    color: #FF8F00;
    border-bottom: solid 1px #FF8F00;
}
.formInputs {
    font-size: 14pt;
}
#searchBut {
    cursor: pointer;
    font-size: 14pt;
}
.tradePlace {
    width: 75vw;
    height: 400px;
}
.Launch:hover {
    background-color: rgb(187, 130, 23);
}
.Launch {
    position: relative;
    background-color: #FF8F00;
    color: white;
    padding: 4px 50px 4px 50px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    margin-left: 20px;
    transform: translate(0, 80px);
}
.chartHold {
    height: 180px;
    width: 90%;
    background-color: gold;
}
.orderTrade {
    width: 75vw;
    margin-top: 60px;
    background-color: white;
    height: 300px;
}
.orderbook {
    float: left;
}
#orderbook {
    width: 40vw;
}
p {
    margin: 0;
}
b {
    font-weight: 1000;
}
button.buy_sell {
    margin-top: 20px;
    cursor: pointer;
    padding: 5px 55px 5px 55px;
    background-color: #FF8F00;
    color: white;
    font-size: 16pt;
}
select {
    border: solid 1px #FF8F00;
    border-radius: 0px;
    background-color: white;
}
.condense {
    width: 75vw;
    font-size: 14pt;
    text-align: center;
    color: #FF8F00;
    padding: 0px 10px 0px 10px;
    background-color: lightgray;
    cursor: pointer;
}
.ROrderDisplay {
    width: 75vw;
    padding: 0px 10px 0px 10px;
    background-color: lightgray;
}